#photo-details-container {
  display: flex;
  width: 80vw;
  max-height: 80vh;
  margin: 0px;
  justify-content: center;
  overflow: hidden;
}

.photo-details-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.photo-details-image {
  object-fit: contain;
  max-height: 80vh;
  max-width: 70%;
}

#photo-details {
  min-width: 250px;
  max-width: 400px;
  padding: 20px;
  padding-bottom: 0px;
}

.photo-caption {
  font-size: 16px;
  margin: 10px;
  font-weight: 400;
  line-height: 1.7rem;
  text-align: justify;
}

#photo-details p {
  font-size: 12px;
  margin: 0 0 0 15px;
}

#photo-details p > span{
  font-size: 15px;
  margin: 0 0 0 3px;
  font-weight: 600;
  color: rgba(29, 64, 71, 0.836)
}

.photo-edit-button {
  background-color: rgb(28, 162, 192);
  color: white;
  font-size: 0.8rem;
  border: 1px solid rgb(28, 162, 192);
  border-radius: 0.25rem;
  margin: 7px 5px 0 15px;
  align-self: center;
  cursor: pointer;
  text-decoration: none;
  padding: 1px 6px;
}

.photo-delete-button {
  background-color: rgb(190, 44, 44);
  color: white;
  font-size: 0.8rem;
  border: 1px solid rgb(190, 44, 44);
  border-radius: 0.25rem;
  margin: 7px 0px 0 0px;
  align-self: center;
  cursor: pointer;
}

.photo-delete-button:hover, .photo-edit-button:hover {
  opacity: 80%;
}

@media screen and (min-width: 800px) {
  .photo-details-image {
    max-width: 65%;
  }

  .comments-list {
    height: 140px
  }
}